@charset "utf-8";
/* admin.css
 http://j.mp/fcm-p1 */

#editBox {position:absolute; display:inline-block; }
.editable:hover, .switchable:hover { background:#FFC; border:red solid 1px;}
.editable, .switchable { border:transparent solid 1px;}
.hidden {display:none;}
#switchBox {font-size:100%;}
#switchBox label, #switchBox input {display:block;}
#switchBox input.text { margin-bottom:12px; width:95%; }
#cms-buttons{ position:fixed; background:#f4f2ff; padding:7px; z-index:10; }
div.body { margin-top:22px; }
.admin-overlay {position:absolute; background:transparent url(overlay-tile.png) repeat; border:solid 1px #CCC; display:block;}

#adminConsole {position:fixed; background:#f4f2ff; max-width:450px; top:5px; margin:60px 0 0 40px; z-index:11;}
	.console-item {padding:1em;}
