@charset "utf-8";
/* style.css
 http://j.mp/fcm-p1 */

@font-face {
    font-family: 'BluePlateSpecialNFRegular';
    src: url('fonts/blue_plate_special_nf-webfont.eot');
    src: url('fonts/blue_plate_special_nf-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/blue_plate_special_nf-webfont.woff') format('woff'),
         url('fonts/blue_plate_special_nf-webfont.ttf') format('truetype'),
         url('fonts/blue_plate_special_nf-webfont.svg#BluePlateSpecialNFRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Main style */
body { width: 520px; }

div.body { width: 520px; margin: 0 auto; }
        div.body p { font-size: 12px; font: Arial, Helvetica, sans-serif; line-height: 15px; }
        div.body p:first-letter{ font-size: 22px; }

#header { float:right; margin: 8px 24px 0 0; }
        span.number { color:#f94d4d; font: Verdana, Geneva, sans-serif; font-size: 24px; font-weight: bold; }
        span.number { font-family: "BluePlateSpecialNFRegular"; font-weight: normal; }

h1 { color:#efc126; font-size: 45px; line-height: 45px; font-family: "BluePlateSpecialNFRegular"; }
h2 { color:#efc126; font-size: 28px; line-height: 28px; font-family: "BluePlateSpecialNFRegular"; }

.readmore { width: 103px; height: 31px; float:right; background: url(images/readmore.png) no-repeat; padding: 8px 0 0 10px; margin-top: 5px; }
        .readmore a:link, .readmore a:visited { text-decoration: none; }
        .readmore span {  color:#efc126; font-size: 17px; line-height: 17px; font-weight: bold; font: Georgia, "Times New Roman", Times, serif; }
        .readmore span { font-family: "BluePlateSpecialNFRegular"; font-weight: normal; }

#featured { clear: both; }
#featured h2 { color:#f94d4d; font-size: 30px; line-height: 30px; margin: 11px 0 12px -40px; }

#featured-slides { list-style: none;  background: url(images/bg-featured.png) no-repeat; width:462px; height:276px; margin: 0 9px 0 9px;padding: 15px 20px 16px 20px;}
#featured-slides li { display: none; }
#featured-slides li.selected { display: block; }
        
                #featured-slides li .left, #featured-slides li .right { float:left; }
             /* #featured-slides li .left { width: 462px; padding-top:15px; } */
                #featured-slides .left img { height: 276px; width: 462px; }
                #featured-slides li .right { width: 248px; float:right; }

#featured-buttons { clear:both; list-style: none; float:right; margin-right: 10px; }
        #featured-buttons li { float: left; width: 18px; height: 18px; margin: 0 17px 10px 0; padding-right: 1px; }
        #featured-buttons li.selected { background: url(images/bm-gray-icon.png) no-repeat 1px; }
        #featured-buttons li:hover { background: url(images/bm-icon.png) no-repeat 1px; }
                #featured-buttons li a { display:block; width: 18px; height: 18px; }
                #featured-buttons span { display:none; }
                #featured-buttons li.one a { background: url(images/num-one-icon.png) no-repeat; }
                #featured-buttons li.two a { background: url(images/num-two-icon.png) no-repeat; }
                #featured-buttons li.three a { background: url(images/num-three-icon.png) no-repeat; }
                #featured-buttons li.four a { background: url(images/num-four-icon.png) no-repeat; }

#featured .readmore { margin: -44px 4px 0px 0px; }

.main-content { clear:both; background: url(images/bg-content-main.png) repeat-y 29px; }
.main-bottom { clear:both; height:10px; background: url(images/bg-content-bottom.png) no-repeat 30px; }

div.content { clear:both; }
        div.content .left { float: left; width: 240px; margin: 10px 0 0 51px; }
        div.content .right { float: right; width: 196px; margin: 10px 32px 0 0; padding-top: 5px; }
                div.content .img-holder { width: 196px; height: 184px; margin-left: 12px; }
                    div.content .img-holder img { width: 196px; height:184px; }

div.separator { background-color: #d80000; width: 409px; height: 1px; margin: 1px 0 20px 56px; }

#title, #video { width: 478px; margin: 0 21px 0 21px;}

#copyright { color:#747474; font-size: 12px; margin: 0 0 0 51px; padding-bottom: 4px; }

.bg-header-top { background: url(images/bm-header-top.png) top no-repeat; }
.bg-header-main { background: url(images/bm-header-content.png) no-repeat 0px 28px; min-height: 28px; text-align: center; padding: 8px 0 8px 0; }
.bg-header-bottom { background: url(images/bm-header-bottom.png) bottom no-repeat; height: 10px; clear:both;}

#video { clear:both; }
        #video .video-holder { margin-top: 8px; }

#footer { clear:both; height:85px; margin: 10px 10px 0 0; }
        #footer .img-holder { float:right; margin: 0 35px 10px 0; }
        #footer #logo-acmarketing { margin-top: 21px; }

.hr { clear:both; }
